.container2 {
  width: 50%;
  margin: 2px auto;
  height: 90vh;
  font-family: "Roboto", sans-serif;
  padding: 30px;
  background-color: black;
  border-radius: 10px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title-login {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.863);
}
.form {
  margin: -15px auto;
  width: 80%;
}
.title2 {
  font-size: 35px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #ffc702;
}
.title2:hover {
  color: #fbff02;
}
::-webkit-input-placeholder {
  color: #3b3b3bab;
}
.form-group input {
  color: black;
  width: 60%;
  margin-top: 10px;
  padding: 5px;
}
.form-button {
  margin: 20px auto;
  width: 60%;
}
.loginbtn {
  height: 40px;
  width: 150px;
  cursor: pointer;
  background-color: rgb(82, 224, 0);
  color: black;
  font-size: 18px;
  padding: 5px;
}
.loginbtn:hover {
  border: none;
  box-shadow: 0 0 10px rgba(89, 240, 2, 0.753);
  color: black;
}
.loginGg {
  text-align: center;
  margin: 10px auto;
  color: white;
  background-color: #4285f4;
  text-align: center;
  line-height: 50px;
  min-height: 50px;
  width: 150px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
}
.loginGg:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.781);
}
.logo {
  height: 50px;
}
.form-error {
  margin-top: 10px;
  color: rgb(255, 0, 0);
  font-weight: bold;
  text-shadow: 5px -5px 14px rgba(255, 95, 87, 0.51);
  font-size: 17px;
}
@media screen and (max-width: 600px) {
  body {
    min-height: 100%;
  }
  .container2 {
    width: 82%;
    overflow: hidden;
    height: 90vh;
    margin-top: 0;
  }
  .form-group input {
    width: 90%;
  }
  .form-button {
    width: 90%;
  }
  .loginbtn {
    display: inline-block;
  }
  .loginGg {
    height: 20px;
    font-size: 15px;
  }
  .logo {
    height: 40px;
    margin-top: 8px;
  }
}
.already {
  width: 100%;
  border-top: 2px solid white;
  padding: 10px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
