.other {
  color: white;
}
.other:hover {
  color: #ffc702;
}
.already {
  width: 40%;
  position: absolute;
  bottom: 10px;
}
.forgot {
  color: white;
}
.forgot:hover {
  color: #ffc702;
}
@media screen and (max-width: 600px) {
  .already {
    width: 70%;
  }
}
